* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid rgb(171, 169, 169);
  border-radius: 25px;
  margin-bottom: 10px;
}

.navItem {
  display: flex;
}

.navItem > ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-right: 20px;
}

.navItem > button {
  padding: 15px 25px;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  font-weight: 1000;
  font-size: 100%;
  cursor: pointer;
}

.Search-input,
.Search-btn {
  padding: 15px 25px;
  border-radius: 15px;
  color: #212121;
  font-weight: 1000;
  font-size: 100%;
  border-radius: 2px solid black;
  margin-right: 0.3rem;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}

.card {
  width: 245px;
  height: 340px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.card > img {
  width: 100%;
  height: 50%;
  border-radius: 18px;
}

.RestrauentList {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.link {
  color: black;
  text-decoration: none;
}

.shimmer-card {
  width: 245px;
  height: 340px;
  border-radius: 25px;
  padding: 10px;
  margin-top: 20px;
  overflow: hidden;
  background-color: rgb(215, 211, 211);
}

/* RestaurantDetails.css */

.restaurant-details {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 25px;
  padding: 10px;
  margin-top: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.restaurant-image img {
  height: 20rem;
  width: 33vw;
  border-radius: 8px;
  margin: 5px 0;
}

.restaurant-name {
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0;
  color: #333;
}

.restaurant-location,
.restaurant-cuisine {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

.restaurant-rating {
  font-size: 28px;
  font-weight: normal;
  margin: 5px 0;
  color: #ffa500;
}

.restaurant-cost {
  font-size: 18px;
  margin: 5px 0;
}

.restaurant-delivery-time {
  font-size: 20px;
  margin: 5px 0;
  color: #555;
}

.restaurant-status {
  font-size: 20px;
  color: #007bff;
}

.restaurant-status.closed {
  color: #f44336;
}
